<!DOCTYPE html>
<html>
    <head>
        <title>batteries</title>
        <link rel="stylesheet" href="../Clases Css/styles.css">
        <link rel="stylesheet" href="../Clases Css/fonts.css">
    </head>
    <body>
        <div id="contenido">
        <div id="top-bar">
            <h1>SERENA</h1>
        </div>
        <div id="top-corner-bar-left">
            <button type="button" value="on-of-button" id="on-off-button"><img src="./Imagenes/on button.png" alt=""></button>
        </div>
        <div id="top-corner-bar-right">
            <h4 id="time" style="color: #ffff">12:24&#160&#160&#160&#160</h4>
        </div>
        <div id="bottom-bar"></div>
        <div id="side-bar-right">
            <img src="./Imagenes/Battery.png" id = "battery">
            <img src="Imagenes/Bote.png" id="bote">
            <h2 id="speed"></h2>
        </div>
        <div id="side-bar-left">
            <ul>
                <li><a href="index.html"><button class="ux-change" ><img src="./Imagenes/location.png"></button></a></li>
                <li><a href="temperature.html"><button class="ux-change" ><img src="./Imagenes/temperature.png" id="temperatura"></button></a></li>
                <li><a href="batteries.html"><button class="ux-change" ><img src="./Imagenes/Battery side bar.png"></button></a></li>
            </ul>
        </div>
        <div id="center-batteries"><h2 id="voltage">asdfa</h2></div>
        </div>
        <script src="/Clases JavaScript/index.js"></script>
        <script src="/Clases JavaScript/batteries.js"></script>
    </body>
</html>